.pokemon {
  height: 300px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #c9edf0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.pokemon__img {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
}

.pokemon__img-img {
  flex-grow: 1;
}

.pokemon__name {
  width: 100%;
  margin: 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  text-transform: capitalize;
  display: block;
  padding: 10px 0;
}

.pokemon__abilities {
  width: 100%;
  padding: 0%;
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
}

.pokemon__ability {
  border: 1px solid black;
  border-radius: 10px;
  display: inline-block;
  margin: 10px 5px;
  padding: 0 5px;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  background-color: #7c8282;
}
